#container{
	width: 1000px;
}

#header{
	width: 0px auto;
}

#body{
	width: 0px auto;
}

.green {
	background-color: green;
	width: 250px;
	margin-top: 50px;
}

.red {
	background-color: red;
	width: 250px;
	margin-top: 50px;
}