<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Edit Car</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="index.css") }}>	
</head>
<body>
	<h1>Let's Edit Your Car!</h1>
	<!-- Edit /edit/<id> route -->
	<form action="/edit_car/{{car['id']}}"	method="post">
		Make: <input type="text" name="make" value="{{car['make']}}"><br>
		Model: <input type="text" name="model" value="{{car['model']}}"><br>
		Info: <textarea name="info">{{car['info']}}</textarea><br>
		<input type="submit" name="Submit">
	</form>
	<div class="flash">
		{% with messages = get_flashed_messages() %}
			<p class="{{messages[0]}}">{{messages[1]}}</p>
		{% endwith %}
	</div>	
</body>
</html>
